body,ul,li{
    padding: 0px;
    margin: 0px;
    list-style: none;
}
img{
    vertical-align: middle;
    border: 0px;
}
.box{
    width: 610px;
    margin: 100px auto;
}
.tb-pic a{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    *display: block;
    *font-family: Arial;
    *line-height: 1;
}
.tb-pic a img{
    vertical-align: middle;
}
.tb-s310 a{
    height: 310px;
    width: 310px;
    *font-size: 271px;
}
.tb-s310,.tb-s310 img{
    max-height: 310px;
    max-width: 310px;
}
.tb-booth{
    border: 1px solid #cdcdcd;
    position: relative;
    z-index: 1;
}
.tb-thumb{
    margin: 10px 0 0;
    overflow: hidden;
}
.tb-thumb li{
    background: none repeat scroll 0 0 transparent;
    float: left;
    height: 42px;
    margin: 0 6px 0 0;
    overflow: hidden;
    padding: 1px;
}

.tb-s40, .tb-s40 a{
    height: 40px;
    width: 40px;
}
.tb-s40 img{
    max-width: 40px;
    max-height: 40px;
}
.tb-s40 a{
    *font-size: 35px;
}
.tb-thumb li div{
    border: 1px solid #cdcdcd;
}
.tb-thumb .curr{
    background: none repeat scroll 0 0 #C30008;
    height: 40px;
    padding: 2px;
}
.tb-thumb .curr div{
    background-color: #fff;
    border: medium none;
}
div.zoomDiv{
    z-index: 999;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 200px;
    height: 200px;
    background: #fff;
    border: 1px solid #ccc;
    display: none;
    text-align: center;
    overflow: hidden;
}
div.zoomMask{
    position: absolute;
    background: url(img/mask.png) repeat scroll 0 0 transparent;
    cursor: move;
    z-index: 1;
}